@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Protest+Revolution&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.background{
    background-image: url(./ResumeBuilder/assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background2{
    background-image: url(./ResumeBuilder/assets/images/back.png);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.templateImage {
    
    height: 80vh;
    width: 80%!important;
    border-radius: 24px;
    box-shadow: 1px 2px 20px rgba(0,0,0,0.1);
}


/* for mobile view  */
@media only screen and (max-width: 600px) {
    .templateBox{
        height: auto !important;   
        order:-1 
         
    }
    .leftbox{
        height: auto !important;
        
    }

    .templateImage {
    
        height: 42vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
    .heading{
       font-size: 1.5rem !important;
    }
    .paragraph {   
        font-size: .8rem !important;
    }
  }

/* for laptop view */
  @media only screen and (min-width: 600px) {
    
  }
.templateBox{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    
}
.leftbox{
    height: 70vh;
    display: flex;
    /* border: 2px solid red; */
    align-items: center; 
    justify-content: center;
}
.leftboxinner{
    display: flex;
    /* border: 2px solid red; */
    align-items: center; 
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    font-weight: 700;
    /* font-family: Poppins,system-ui,-apple-system,"Segoe UI","Roboto","Helvetica Neue","Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* font-family: 'Mukta', sans-serif; */
}
.paragraph {
    /* font-family: 'Mukta', sans-serif; */
}
.section2image {
    height: 20vw;
}

.previewImage{
    height: 96%;
    width: 90%;
    border-radius: 8px;
}