@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Protest+Revolution&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.background{
    /* background-image: url(../ResumeBuilder/assets/background.png); */
    background-image: url(https://c.vanceai.com/assets/images/index/banner_bg-8bdc127cf2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background2{
    background-image: url(../ResumeBuilder/assets/images/back.png);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.templateImage {
    
    height: 70vh;
    width: 70%!important;
    border-radius: 8px;
    box-shadow: 1px 2px 20px rgba(0,0,0,0.1);
}


/* for mobile view  */
@media only screen and (max-width: 600px) {
    .templateBox {
        height: auto !important;   
        order:-1 
         
    }
    .middleTOP{
        height: auto !important;   
        order:-1 
         
    }
    .leftbox{
        height: auto !important;
        
    }

    .templateImage {
    
        height: 42vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
    .heading{
       font-size: 1.5rem !important;
    }
    .paragraph {   
        font-size: .8rem !important;
    }
  }

/* for laptop view */
  @media only screen and (min-width: 600px) {
    
  }
.templateBox{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    
}
.leftbox{
    height: 70vh;
    display: flex;
    /* border: 2px solid red; */
    align-items: center; 
    justify-content: center;
}
.leftboxinner{
    display: flex;
    /* border: 2px solid red; */
    align-items: center; 
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    font-weight: 700;
    /* font-family: Poppins,system-ui,-apple-system,"Segoe UI","Roboto","Helvetica Neue","Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    /* font-family: 'Mukta', sans-serif; */
}
.paragraph {
    /* font-family: 'Mukta', sans-serif; */
    
    color:#4f4851
}
.section2image {
    height: 20vw;
}

.previewImage{
    height: 96%;
    width: 90%;
    border-radius: 8px;
}

.AIProwered {
    text-transform: capitalize;
    background: linear-gradient(90.02deg, #6B57FF 39.45%, #D735FF 52.31%, #FF5C00 73.86%, #FFC01D 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    text-shadow: 0px 0.5px 1px rgba(102, 55, 201, 0.25);
    display: inline-block;
    padding: 0 10px;

}
 


.background3{
    background-image: url(https://softr-assets-eu-prod.s3.eu-central-1.amazonaws.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/6b8b1aa7-54df-4646-a54d-852caa847833.svg), url(https://softr-assets-eu-prod.s3.eu-central-1.amazonaws.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/8c077d2c-6aae-42ee-96a6-25e1292a60c2.svg);
    background-repeat: no-repeat;
    background-position: 105% center, -29% 180%;
    background-size: 30%, 35%;
   /* height: 20vw;  */
   border-radius: 10px;
    background-color: #2a182e!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    flex-direction: column;
    padding: 3rem;
}

.background3Back {
    background-image: url(https://assets.softr-files.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/86dd6b2d-6773-499e-99a1-d6c28e9e5338.svg);
   margin-bottom: 3rem;
   margin-top: 3rem;
}
.backgroundBacktest {
    background-image: url(https://static.remove.bg/pattern-rbg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 6rem;
    margin-top: 6rem;
    /* padding: 4rem; */
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.background4Back {
    background-image: url(https://assets.softr-files.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/c17e1305-a4a8-45b4-8d9c-216bdde36fba.svg);
   margin-bottom: 3rem;
   margin-top: 3rem;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   padding: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 3rem;
   margin-top: 3rem;
   flex-direction: column;
   padding: 3rem;
}

.background4{
    /* background-image: url(https://softr-assets-eu-prod.s3.eu-central-1.amazonaws.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/6b8b1aa7-54df-4646-a54d-852caa847833.svg), url(https://softr-assets-eu-prod.s3.eu-central-1.amazonaws.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/8c077d2c-6aae-42ee-96a6-25e1292a60c2.svg); */
    background-repeat: no-repeat;
    background-position: 105% center, -29% 180%;
    background-size: 30%, 35%;
   /* height: 20vw;  */
   border-radius: 10px;
    /* background-color: rgb(255, 179, 11)!important; */
    background: #025dba; 
    background-image: linear-gradient(-319deg,#80c7ff,#1d8fe1 28%,#625eb1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    flex-direction: column;
    padding: 3rem;
    color: white;
}


 

.background5{
    /* background-image: url(https://softr-assets-eu-prod.s3.eu-central-1.amazonaws.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/6b8b1aa7-54df-4646-a54d-852caa847833.svg), url(https://softr-assets-eu-prod.s3.eu-central-1.amazonaws.com/applications/8f7af9fb-a550-425d-b327-48195c193a5f/assets/8c077d2c-6aae-42ee-96a6-25e1292a60c2.svg); */
    background-repeat: no-repeat;
    background-position: 105% center, -29% 180%;
    background-size: 30%, 35%;
   /* height: 20vw;  */
   border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    /* padding: 3rem; */
}

.testonomial {
    padding: 2rem;
    background: #f7f7f7;
    border-radius: 3px;
    /* margin: 1rem; */
    margin-bottom: 1rem;
    border: 2px solid rgb(237, 240, 242);
    transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for smooth effect */
    border-radius: 8px;
}

.testonomial:hover {
    /* background-color: lightgray; Change background color on hover */
    transform: scale(1.05); /* Scale the element on hover */
}

.box {
    width: 146px;
    height: 55px;
    margin: 0 20px 0px 0;
    display: flex;
    background: white;
    box-shadow: 0px 5px 20px rgba(7, 78, 176, 0.12);
    align-items: center;
    border-radius: 19px;
    justify-content: center;
  }
  
  @media (min-width: 510px) {
    .box {
      width: 143px;
      height: 74px;
      margin: 0 24px 0 0;
      max-width: 100px;
      min-width: 143px;
      border-radius: 23px;
    }
  }
  
  .animatedBox {
    /* animation: slideLeft 2s ease infinite alternate; Change duration and timing function as needed */
    animation: moveLeftToRight 10s linear infinite;
    
  }

  @keyframes moveLeftToRight {
    0%, 100% {
       transform: translateX(-150%);
      }
      50% {
          transform: translateX(0%);
      }
          }
  
 